---
layout: default
title: RubyGems Blog
---

<ul class="content-index">
  {% for post in site.posts %}
    {% assign index = true %}
    {% assign content = post.content %}

    {% capture current_year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% capture next_year %}{{post.next.date | date: "%Y"}}{% endcapture %}

    {% if current_year != next_year and next_year != '' %}
    <li class="year-mark"><h3>{{ post.date | date: "%Y" }}</h3></li>
    {% endif %}

    <li>{% include article.html %}</li>
  {% endfor %}
</ul>
