---
layout: default
title: RubyGems Blog
---
{% for post in site.posts limit:3 %} 
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class='post'>
    <h4>
      published {{ post.date | date_to_string }} by {{ post.author }}
    </h4>
    {{ post.content }}
    <a id="comments" href="{{ post.url }}#disqus_thread">Comments &raquo;</a>
  </div>
{% endfor %}

<div class="archive">
  <h5>Archives</h5>
  <ul id="archive">
  {% for post in site.posts %}
  <li><abbr>{{ post.date | date_to_string }}</abbr><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
