{% if index %}
<article class="{{ post.type }}">
  {% if truncated %}
    <h2 class="title">{{ post.title }}</h2>
  {% else %}
    <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}
  <section class="meta">
    <p>published <span class="date">{{ post.date | date_to_string }}</span></p>
  </section>
{% else %}
<article class="{{ page.type }}">
  <h2 class="title">{{ page.title }}</h2>
  <section class="meta">
    <p>published <span class="date">{{ page.date | date_to_string }}</span></p>
  </section>
{% endif %}

  {% if truncated != true %}
    <section class="content">
      {{ content }}
    </section>
  {% endif %}

  <footer>
    <p>
      {% if index %}
        <img src="{{ post.author_email | to_gravatar }}" alt="{{ post.author }}" />
        {{ post.author }}
      {% else %}
        <img src="{{ page.author_email | to_gravatar }}" alt="{{ page.author }}" />
        {{ page.author }}
      {% endif %}
    </p>
  </footer>
</article>
