<a href="/" class="text-orange-700 font-semibold {% if include.layout == 'desktop' %}hover:text-orange-800 focus-visible:outline-none focus-visible:underline{% endif %}">Blog</a>
<a href="https://rubygems.org/stats" class="hover:text-neutral-600 focus-visible:text-orange-700 focus-visible:outline-none">Statistics</a>
<a href="https://guides.rubygems.org/command-reference/#gem-install" class="hover:text-neutral-600 focus-visible:text-orange-700 focus-visible:outline-none">Docs</a>
<a href="https://rubygems.org/pages/about" class="hover:text-neutral-600 focus-visible:text-orange-700 focus-visible:outline-none">About</a>
