<a href="/" class="inline-flex items-center py-2.5 text-orange-700 font-semibold hover:text-orange-800 focus-visible:outline-none focus-visible:underline">Blog</a>
<a href="https://rubygems.org/stats" class="inline-flex items-center py-2.5 hover:text-neutral-600 focus-visible:text-orange-700 focus-visible:outline-none focus-visible:underline">Statistics</a>
<a href="https://guides.rubygems.org/command-reference/#gem-install" class="inline-flex items-center py-2.5 hover:text-neutral-600 focus-visible:text-orange-700 focus-visible:outline-none focus-visible:underline">Docs</a>
<a href="https://rubygems.org/pages/about" class="inline-flex items-center py-2.5 hover:text-neutral-600 focus-visible:text-orange-700 focus-visible:outline-none focus-visible:underline">About</a>
