.other-posts {
  min-height: 300px;
  opacity: .4;
  overflow-y: scroll;
  @include position(absolute, 0px 2em 0px 0);
  @include transition;
  width: 280px;

  &:hover {
    opacity: 1;
  }

  > h2 {
    @extend %articletitle;
    font-weight: 600;
    margin: 2em 0 .7em 0;
    margin: 2em 0 1.5rem 0;
    max-width: $max-article-width;
  }

  .content-index {
    margin: 0;
    padding: 0;

    li {
      display: block;
      list-style-type: none;
      margin: 0;

      &:first-child {
        display: none;
      }

      &.year-mark {
        background: transparent;
        font-size: 100%;
        line-height: 1.5em;
        padding: 1.5em 0 1em 0;

        h3 {
          @extend %articlesubtitle;
          margin: 0;
        }
      }

      a {
        display: block;
        margin-bottom: 1.5em;
        text-decoration: none;

        article {
          background: none;
          margin-bottom: 0;
          padding: 0;
          position: static;

          &:not(.post), &.changelog {
            footer {
              display: none;
            }
          }

          h2.title {
            font-size: 110%;
            font-weight: 600;
            margin: 0;
          }

          .meta p {
            color: #999;
            font-size: 100%;
            margin-bottom: .5em;
          }

          footer {
            margin: 0;

            p {
              color: $red-dark;
              font-size: 90%;
              line-height: 30px;
              margin: 0;

              span {
                display: none;
              }

              img {
                height: 30px;
                margin-right: .5em;
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}
