$max-width: 700px;

$red: rgb(170, 6, 18);
$red-dark: #300405;

$header-font: "proxima-nova", sans-serif;
$extra-condensed-font: "proxima-nova-extra-condensed", sans-serif;
$serif-body: "ff-meta-serif-web-pro", serif;
$serif-body-sc: "ff-meta-serif-sc-web-pro", serif;

$code-font: "source-code-pro", courier, monospace, sans-serif;
