@mixin mobile {
  @media (max-width: 650px) {
    @content;
  }
}

%fullwidth {
  @include box-sizing(border-box);
  display: block;
  margin: auto;
  max-width: $max-width;
  padding: 0 2em;
}

%articletitle {
  font-family: $header-font;
  font-size: 220%;
  font-weight: 900;
  line-height: 1em;
  margin: 1.2em 0 0 0;
  text-transform: capitalize;
}
