body {
  background: #efefef;
}

h1, h2, h3, h4, h5 {
  font-family: $serif-body-sc;
  font-weight: 500;
  text-rendering: optimizelegibility;
}

a {
  color: $red;
  padding-bottom: 1px;
  text-decoration: none;

  &:hover, &:visited {
    color: $red-dark;
  }
}

p, li {
  font-family: $serif-body;
  font-size: 120%;
  font-weight: 500;
}

p, li, code, h1, h2, h3, h4, h5 {
  line-height: 1.4em;
}

li {
  margin-bottom: .4em;
}

code {
  font-family: $code-font;
  font-size: 95%;
  font-weight: 400;
}
