$max-article-width: 560px;
$max-width: 1350px;

$red: rgb(185, 39, 49);
$red-dark: #300405;

$header-font: "proxima-nova", sans-serif;
$extra-condensed-font: "proxima-nova-extra-condensed", sans-serif;
$serif-body: "ff-meta-serif-web-pro", serif;
$serif-body-sc: "ff-meta-serif-sc-web-pro", serif;

$code-font: "source-code-pro", courier, monospace, sans-serif;
