$max-width: 700px;

$red: rgb(170, 6, 18);
$red-dark: #300405;

$header-font: "proxima-nova", sans-serif;
$condensed-font: "proxima-nova-extra-condensed", sans-serif;;
$code-font: "source-code-pro", courier, monospace, sans-serif;
