body > header, article, body > footer {
  background: #fff;
  @include box-sizing(border-box);
  display: block;
  margin: auto;
  max-width: $max-width;
  min-width: 400px;
  padding: 0 2em;
}

body > header {
  background: $red;
  height: 115px;
  max-width: 100%;
  overflow: auto;
  width: 100%;

  a {
    color: #eee;
    display: block;
    float: left;
    margin-top: 1.5em;
    text-decoration: none;

    &:visited {
      color: #eee;
    }

    h1 {
      font-size: 2.6em;
      line-height: 1.2em;
      margin: 0;
    }

    h2 {
      color: #d3baba;
      font-family: $condensed-font;
      font-size: 1.2em;
      line-height: 1em;
      margin: -.2em 0 0 4.75em;
    }
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;

      li {
        float: left;
      }
    }

    form {
      
    }
  }
}

article {
  background: #fff;
  margin-bottom: 2.5em;
  min-height: 80px;
  padding: 1em 2em;
  position: relative;

  &:not(.post), .changelog {
    background: transparent;
    display: block;
    padding-bottom: 0;
    padding-top: 0;

    footer {
      display: none;
    }
  }

  h2.title {
    font-size: 2em;
    margin-bottom: 0;

    a {
      text-decoration: none;
    }
  }

  .meta p {
    margin-top: 0;
  }

  pre {
    background: #1d1f21;
    padding: 1em;
    position: relative;

    code {
      display: block;
    }
  }

  // inline code
  code {
    background: #1d1f21;
  }

  footer {
    overflow: auto;

    p {
      line-height: 50px;

      img {
        float: left;
        height: 50px;
        margin-right: 1em;
        width: 50px;
      }
    }
  }
}
