.content-index {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    width: 100%;

    &:first-child {
      display: none;
    }

    > a {
      display: block;
      margin: auto;
      max-width: $max-width;
    }

    article .content {
      display: none;
    }
  }
}
