.content-index {
  article {
    &:first-child {
      .content {
        display: block;
      }
    }

    &.post {
      
    }

    &:not(.post), .changelog {
      
    }

    .meta {
      .author {
        text-transform: capitalize;
      }
    }

    .content {
      display: none;
    }
  }
}
