.other-posts {
  background: #eee;
  border-top: 2px solid #e0e0e0;

  > h2 {
    @include box-sizing(border-box);
    font-family: $header-font;
    font-size: 220%;
    font-weight: bold;
    margin: auto;
    margin-top: 1.5em;
    max-width: $max-width;
    padding: 0 2rem;
    text-transform: capitalize;
  }
}

.content-index {
  @include box-sizing(border-box);
  margin: 0 auto;
  overflow: auto;
  padding: 0 2em;
  width: 100%;

  li {
    @include box-sizing(border-box);
    display: inline-block;
    float: left;
    height: 180px;
    list-style-type: none;
    width: 185px;

    @include mobile {
      float: none;
      height: auto;
      width: 100%;
    }

    &:first-child {
      display: none;
    }

    &.year-mark {
      background: transparent;
      clear: both;
      display: block;
      float: none;
      font-size: 100%;
      height: auto;
      line-height: 1.5em;
      margin: 0;
      padding: 2.5em 1em 1em 1em;
      width: auto;

      @include mobile {
        padding-left: 0;
      }

      h3 {
        display: inline;
        border-top: 2px solid #999;
        margin: 0;
      }
    }

    > a {
      display: block;
      text-decoration: none;
      width: 100%;

      article {
        margin-bottom: 1em;
        min-width: auto;
        padding: 0 1em;

        @include mobile {
          padding: 0;
        }

        &:not(.post), .changelog {
          footer {
            display: none;
          }
        }

        h2.title {
          font-size: 110%;
          font-weight: 600;
          line-height: 1.2em;
        }

        .meta p {
          color: #999;
          font-size: 110%;
          margin-bottom: .5em;
          text-transform: lowercase;
        }

        .content {
          display: none;
        }

        footer {
          margin: 0;
          bottom: 0;

          p {
            font-size: 100%;
            line-height: 30px;
            margin: 0;

            span {
              display: none;
            }

            img {
              height: 30px;
              margin-right: .5em;
              width: 30px;
            }
          }
        }
      }
    }
  }
}
