.other-posts {
  opacity: .4;
  overflow-y: scroll;
  @include position(absolute, 0px 2em 0px 0);
  @include transition;
  width: 280px;

  &:hover {
    opacity: 1;
  }

  > h2 {
    @include box-sizing(border-box);
    font-family: $header-font;
    font-size: 220%;
    font-weight: 900;
    line-height: 1em;
    margin: 2em 0 0 0;
    max-width: $max-article-width;
    text-transform: capitalize;
  }

  .content-index {
    @include box-sizing(border-box);
    margin: 0 0 2.5em 0;
    overflow: auto;
    padding: 0;

    li {
      display: block;
      list-style-type: none;
      margin-bottom: 0;

      &:first-child {
        display: none;
      }

      &.year-mark {
        background: transparent;
        clear: both;
        display: block;
        float: none;
        font-size: 100%;
        height: auto;
        line-height: 1.5em;
        margin: 0;
        padding: 2.5em 0 1em 0;
        width: auto;

        h3 {
          display: inline;
          border-top: 2px solid #999;
          margin: 0;
        }
      }

      > a {
        display: block;
        margin-bottom: 1em;
        overflow: auto;
        text-decoration: none;

        article {
          background: none;
          margin-bottom: 0;
          padding: 0;
          position: static;

          @include mobile {
            padding: 0;
          }

          &:not(.post), .changelog {
            footer {
              display: none;
            }
          }

          h2.title {
            font-size: 110%;
            font-weight: 600;
            line-height: 1.2em;
            margin: 0;
          }

          .meta p {
            color: #999;
            font-size: 100%;
            font-weight: normal;
            margin-bottom: .5em;
            text-transform: lowercase;
          }

          .content {
            display: none;
          }

          footer {
            margin: 0;
            bottom: 0;

            p {
              color: $red-dark;
              font-size: 100%;
              line-height: 30px;
              margin: 0;

              span {
                display: none;
              }

              img {
                height: 30px;
                margin-right: .5em;
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}
