article {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 2.5em;
  max-width: $max-article-width;
  padding: 1em 2em;
  top: -200px;

  @include medium {
    margin: 0;
    top: -100px;
  }

  @include small {
    padding: 0 1em;
    top: 0;
    margin: auto;
  }

  h3, h4, h5, h6 {
    @extend %articlesubtitle;
    font-size: 120%;
    margin-bottom: 0;
    margin-top: 1.5em;
  }

  hgroup {
    margin: 2.6em 0 2.5em 0;

    h2.title {
      @extend %articletitle;
      margin: 0;
    }

    .meta p {
      font-family: $serif-body-sc;
      font-weight: 500;
      line-height: 1em;
      margin: .2em 0 0 0;
      text-transform: lowercase;
    }
  }

  pre {
    background: #1d1f21;
    font-size: 120%;
    margin-left: -1em;
    padding: 1em;
    position: relative;
    width: 100%;

    code {
      display: block;
    }
  }

  // inline code
  code {
    background: #1d1f21;
  }

  footer {
    margin: 2.5em 0;
    overflow: auto;

    p {
      line-height: 50px;
      margin: 0;

      img {
        float: left;
        height: 50px;
        margin-right: 1em;
        width: 50px;
      }
    }
  }
}
